.select {
  box-sizing: border-box !important;
  font-size: large !important;
  border: 2px solid var(--dark-theme-primary) !important;
  border-radius: 5px !important;
  outline: none !important;
}

.lightSelect {
  color: black !important;
}

.darkSelect {
  background: white !important;
}

/* FIXME: Make select border none style without global formatting */
.select * {
  border: none !important;
  outline: none !important;
}
