.convertorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vmin;
  padding: 5vmin;
  color: white;
  background: #191C29;
  border-radius: 15px;
  box-shadow: rgb(79 86 94 / 20%) 0 8px 24px;
}

.convertorForm {
  display: grid;
  grid-template-columns: [column-start] 1fr 1fr [column-end];
  gap: 1vmin 3vmin;
}

.p {
  grid-column: column-start / column-end;
}

@media screen and (max-width: 500px) {
  .convertorForm {
    grid-template-columns: [column-start] 1fr [column-end];
  }
}
