.convertorContainer {
  background: #191c29;
  width: 65vmin;
  padding: 5vmin;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: rgba(79, 86, 94, 0.2) 0px 8px 24px;

}

.convertorForm {
  display: grid;
  grid-template-columns: [column-start] 1fr 1fr [column-end];
  gap: 1vmin 3vmin;
}

.p {
  grid-column: column-start / column-end;
}

@media screen and (max-width: 500px) {
  .convertorForm {
    grid-template-columns: [column-start] 1fr [column-end];
  }
}
