.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 92vh;
  padding: 60px;
  background: white;
}

.lightSection {
  color: black;
  background: var(--light-theme-background);
}

.darkSection {
  color: white;
  background: var(--dark-theme-background);
}

.darkSection a {
  color: #9B59B6;
}

.h2 {
  padding: 20px 0;
}

.ul,
.li,
.p,
.link {
  font-weight: 400;
  font-size: 1.2rem;
}

.arrowDown {
  position: absolute;
  top: 10px;
  right: calc(50% - 5px);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.rotatedArrowDown {
  transform: rotate(-180deg);
}

.scrollToTop {
  position: absolute;
  top: 0;
}

.scrollToBottom {
  position: absolute;
  top: calc(92vh - 30px);
}

@media screen and (max-width: 500px) {
  .section {
    padding: 30px;
  }
}

@media screen and (max-height: 700px) {
  .section {
    height: auto;
    padding: 30px;
  }
}
