/* TODO: Add stylelint */
.wrapper {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background: #212534;
}

/* TODO:  min-height: 100% don't work */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 90vh;
}
